/*VARIABLES GLOBALES*/
$color-primario: #000;
$color-size: 1.5rem;
/*Selector de tipo ID*/

#barra-navegacion{
    /*propiedad*/
    color:rgb(14, 14, 14);
    height: 90px;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
    /*gradientes*/
    background-image: linear-gradient(to bottom, #BE8FA1, #F9B4C6);
}

/*selector de etiqueta*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

p{
    text-align: justify;
    font-weight: bolder;
    line-height: 2em;
}
h1{
    padding: 10xp;
    line-height: 70px;
    color: #000;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
}

body{
    font-family: 'Poppins', sans-serif;
}

nav ul{
    float: right;
    margin-right: 20px;
}

h1{
    text-align: center;
    color: #000;
    font-size: 70px;
}

a{
    font-family: 'fuente-principal', sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
}
/*pseudoclases*/
a:hover{ /*posar el mouse*/
    transition: .5s;
    color: #fff;
}
a:active{ /*click*/
    transition: .5s;
    color: #2b2a2a;
}
.contact-form-text:hover{ /*formulario de contacto*/
    box-shadow: 0 0 10px 4px #aa9f9f;
}

.contact-form-btn:hover{
    background: #2b2a2a;
}

.footer .grupo-1 .red-social a:hover{
    color:#000 ;
}

/*tipografias*/
/*fuente local*/
@font-face{
    font-family: 'fuente-principal' ;
    src: url('../assets/fonts/Poppins-Regular.ttf'); /*ubicacionde la fuete*/
}

/*fuente externa*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@700&display=swap');

/*tipografia local*/
.font-main{
    font-family: 'fuente-principal', sans-serif;
}
/*tipografia externa*/
.encabezado-home{
    text-transform: uppercase; /*pone todo en mayuscula*/
    font-family: 'Roboto', sans-serif; /* negrita*/
    font-size: 30px; /*el tamaño*/
    font-weight: bold; /*el peso*/
    color: #000;
    
}

/*flexbox*/
/*contenedor padre*/
.flex-container{
    /*activamos flex en el contenedor padre*/
    display: flex; /*pone todas las cajitas en horizontal/vertical*/
    flex-direction: row; /*row= horizontal, column= vertical*/
    justify-content: space-evenly;
    align-items: flex-start; /*trabaja sobre el eje secundario, opuesto al principal*/

    /*defino el desborde de los flex items*/
    flex-wrap: wrap;
    align-content: space-around;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
}

.estilo-links{
    display: inline-block;
    line-height: 90px;
    margin: 0 5px;
    padding: 0px 13px;

    font-weight: bold ;
    font-family: 'Roboto', sans-serif;
    color: $color-primario;
}

.img-header{
    width: 100%;
    background-position: center;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 30px;   
}

.foto{
    padding: 3px;
    margin: 3px;
}



/*clases del footer*/
.footer{
    width: 100%;
    margin-top: 30px;
    background: linear-gradient(to bottom, #BE8FA1, #F9B4C6);
    
}
.footer .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    /*activo grid*/
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    grid-gap: 50px;
    padding: 45px 0px;
}
.footer .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .grupo-1 .box figure img{
    width: 100px ;
}
.footer .grupo-1 .box h3{
    color: #000;
    margin-bottom:25px ;
    font-size: 20px;
    font-weight: bold; /*el peso*/
}
.footer .grupo-1 .box p{
    color: #fff ;
    margin-bottom: 10px;
    font-weight: bolder;
}
.footer .grupo-1 .red-social a{
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #BE8FA1;
    text-align: center;
    transition: all 0.5s ease;
}
.footer .grupo-2{
    background-color:  #BE8FA1;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.footer .grupo-2 small{
    font-size: 15px; /*tamaño del copy*/
}




/*clases pagina FOTOS*/
.fotos-carrusel{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 5px;
}






/*clases main del HOME*/
.main-container{
    display: block;
    text-align: center;
    padding-top: 20px;
}
.main-container h1{
    padding-top: 5%;
    padding-bottom: 5%;
    line-height: 70px;
    color: #000;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
}
.main-container h2{
    padding-top: 10%;
    line-height: 70px;
    color: #000;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
}
.main-container div{
    padding-top: 20px;
    position: relative;
}
.main-video{ /*video del home*/
    padding-bottom: 70%;
    height: 0px;
    overflow: hidden;
}







/*Clases pagina de CONTACTO*/
.contact-section{
    background-image: url(../assets/back-contact-img.jpg);
    background-size: cover;
    padding: 40px 0;

    font-family: 'Montserrat', sans-serif;
}

.contact-border{
    width: 100px;
    height: 10px;
    background: #E58AB3;
    margin: 30px auto;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background:  #E58AB3;;
    padding: 20px 40px;
    outline: none;
    color: #000000;
    transition: 0.5s;
}

textarea.contact-form-text{
    resize: none;
    height: 120px;
}

.contact-form-btn{
    float: right;
    border: 0;
    background: #726f6f;
    color:#fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}


/*Animaciones (falta)*/
.enlace-uña{
    position: absolute;
    padding: 11px 50px;
}
.icon-uña{
    width: 13%;
    border-radius: 35%;
}

.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 90px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

#check{
    display: none; /*ocultar el check pegado al icono*/
}




/*METODOLOGIA BEM en seccion de SERVICIOS*/
.cards{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5%;
}
.cards_block{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #ccc;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
}
.cards_block img{
    width: 100%;
}
.cards_contenido{
    padding: 15px;
    text-align: center;
}
.cards_contenido p{
    line-height: 1.5;
    color: #000;
}
.cards_contenido h3{
    margin-bottom: 3%;
    font-size: 23px;
}











/*media queries*/

/*navbar*/
@media (max-width: 952px){ /*tablet*/
    .enlace-uña{
        padding-left: 20px;
    }
    .estilo-links{
        font-size: 16px;
    }
}
@media (max-width: 858px){ /*phone*/
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        top: 90px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .estilo-links{
        display: block;
        margin: 50px 0;
        line-height: 30px;
        font-size: 20px;
    }
    a:hover{
        background: none;
        color: #E58AB3;
    }
    #check:checked ~ ul{
        left: 0; /*para mostrar el check*/
    }
}

/*footer*/

@media screen and (max-width: 800px){
    .footer .grupo-1{
        width: 90%; /*achicamos margen*/
        grid-template-columns:repeat(1, 1fr) ; /*disminuimos columnas a una sola*/
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

/*home-main-video*/
@media screen and (max-width: 800px){
    .main-video iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/*cards - SERVICIOS*/
@media (max-width: 800px){
    .cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .cards_block{
        width: 90%;
        margin: 20px;
        border-radius: 6px;
        overflow: hidden;
        background: #ccc;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
        cursor: default;
    }
    .cards_block img{
        width: 100%;
    }
    .cards_contenido{
        padding: 15px;
        text-align: center;
    }
    .cards_contenido p{
        line-height: 1.5;
        color: #000;
    }
    .cards_contenido h3{
        margin-bottom: 3%;
    }
}

/*cards- COMBOS*/
.container {
    margin-top: 150px;
}

.container h1 {
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 90px;
    margin-left: 250px;
    padding: 10px;

    letter-spacing: 1px;
    font-size: 50px;
    color: #000;
    text-transform: uppercase;
}

.blog-post {
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: #dbd6d6;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
    margin: 50px;
}

.blog-post_img {
    min-width: 35rem;
    max-width: 35rem;
    height: 25rem;
    transform: translateX(-8rem);
    position: relative;
}

.blog-post_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .8rem;
    display: block;
}

.blog-post_img img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, 0.5);
    border-radius: .8rem;
}


.blog-post_title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #c945cf;
}

.blog-post_text {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: #000000b3;
}

.blog-post_cta {
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    border-radius: .8rem;
    background: linear-gradient(to right, #c945cf 0%, #04a6bd 100%);
}

.blog-post_cta:hover {
    background: linear-gradient(to right, #04a6bd 0%, #c945cf 100%);
}

@media screen and (min-width: 1069px) {
    .container h1 {
        margin-left: 180px;
    }
}

@media screen and (max-width: 1068px) {
    .blog-post {
        max-width: 80rem;
    }
    .blog-post_img {
        min-width: 30rem;
        max-width: 30rem;
    }
    .container h1 {
        margin-top: 40px;
        margin-left: 150px;
    }
}

@media screen and (max-width: 868px) {
    .blog-post {
        max-width: 70rem;
        margin: 0px;
    }
    .container h1 {
        margin-top: 20px;
        margin-left: 100px;
    }


    
}

@media screen and (max-width: 768px) {
    .blog-post {
        padding: 1.5rem;
        flex-direction: column;
        margin: 0px;
    }
    .blog-post_img {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -1rem);
    }
    .container {
        margin-top: auto;
    }
}